* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  background-color: #0D1117;
  color: #B9BBBD;
  width: 80%;
  padding: 0 15px 0 15px;
  margin: auto;
  //debug
  height: 1500px;

  .title {
    padding: 25px 0 15px 0;
  }

  .formInput{
    margin-right: 5px;
  }

  .filtersWrapper {
    display: flex;

    .filter {
      margin-right: 10px;
    }
  }

  .ordersTable {
    margin-top: 20px;
  }
}
