<main>
  <div>
    <p>Search an Order</p>
    <div class="filtersWrapper">
      <div class="filter">
        <mat-form-field class="example-full-width">
          <mat-label>Search by customer</mat-label>
          <input type="text" matInput [(ngModel)]="searchCustomer" placeholder="Write..."
            (keyup)="searchCustomerKeyUp()">
        </mat-form-field>
      </div>
      <div class="filter">
        <mat-form-field class="example-full-width">
          <mat-label>Search by order number</mat-label>
          <input type="text" matInput [(ngModel)]="searchOrderNumber" placeholder="Write..."
            (keyup)="searchOrderNumberKeyUp()">
        </mat-form-field>
      </div>
    </div>
  </div>

  <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
    <p>Create a new Order</p>
    <mat-form-field class="formInput" *ngFor="let column of columnsToDisplay.slice(1,3); let i = index">
      <mat-label>{{column}}</mat-label>
      <input matInput type="text" formControlName="{{column}}">
    </mat-form-field>

    <mat-form-field class="formInput" *ngFor="let column of columnsToDisplay.slice(3); let i = index">
      <mat-label>{{column}}</mat-label>
      <input type="date" matInput [matDatepicker]="orderDates" formControlName="{{column}}">
      <mat-datepicker-toggle matSuffix [for]="orderDates"></mat-datepicker-toggle>
      <mat-datepicker #orderDates></mat-datepicker>
    </mat-form-field>

    <div class="example-button-row">
      <button color="primary" mat-raised-button type="submit">Submit</button>
    </div>
  </form>

  <table class="ordersTable" mat-table [dataSource]="orders$">
    <ng-container *ngFor="let column of columnsToDisplay" matColumnDef="{{column}}">
      <th mat-header-cell *matHeaderCellDef>{{column}}</th>
      <td class="orderRow" mat-cell *matCellDef="let listOrder" (click)="fillUpdateForm(listOrder)">{{listOrder[column]}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
  </table>
</main>
