* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  background-color: #0D1117;
  color: #B9BBBD;
  width: 80%;
  padding: 15px 15px 15px 15px;
  margin: auto;

  .filtersWrapper {
    display: flex;

    .filter {
      margin-right: 5px;
    }
  }

  .ordersTable {
    margin-top: 20px;

    .orderRow{
      cursor: pointer;
    }
  }
}
