*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  background-color: #0D1117;
  color: #B9BBBD;
  width: 80%;
  padding: 0 15px 0 15px;
  margin: auto;
  //debug
  height: 1500px;

  .title{
    padding: 25px 0 45px 0;
  }

  .ordersWrapper{
    display: flex;
    flex-direction: column;

    .singleOrder{
      background-color: #253142;
      text-align: left;
      margin-bottom: 15px;
      border-radius: 10px;
      padding: 15px;
      max-width: 350px;
      list-style-type: none;

      li{
        margin-bottom: 5px;

        span{
          color: #8484a0;
        }
      }
    }
  }
}


